body{
    text-align: center;
    /*The following image copyright free from www.pixabay.com
    credit goes to "Image by <a href="https://pixabay.com/users/stocksnap-894430/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2617112">StockSnap</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2617112">Pixabay</a>"*/
    background-image: url("../Media/background.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.indexForm{
    background-color: rgba(255,255,255,0.9);
    display: block;
    margin: 10px 20px auto;
    padding: 10px;
    border-radius: 10px;
    height: auto;
    border: 5px solid white;
}

.indexForm > input{
    margin-bottom: 5px;
}

#passwordHelpBtn{
    width: 20px;
    height: 20px;
    font-size: 10px;
    border-radius: 10px;
}

input{
    display: block;
    margin: auto;
}

footer{
    position: absolute;
    bottom: 0;
    background-color: white;
    height: 25px;
}

.usersTable{
    background-color: rgba(255, 255, 255, 0.9);
    height: 85vh;
    width: 96%;
    display: block;
    margin: 25px 25px auto;
    float: left;
    border: 5px solid white;
    border-radius: 10px;
    padding: 5px;
}

#Map {
    height: 82vh;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.popUpProfilePic{
    width: 75px;
    height: 75px;
}

.tableScroll{
    overflow-y: scroll;
    height: 60vh;
    margin-top: 10px;
}

.searchTable{
    background-color: rgba(255,255,255,0.9);
    height: 650px;
    margin: 40px 35px;
    width: 95%;
    display: block;
    border-radius: 10px;
    overflow-y: scroll;
    padding: 5px;
}

.headerLink{
    width: 200px;
}

button{
    margin: 0 2px;
    width: 170px;
}

select{
    margin: 0 2px;
}

.paginationLink{
    color: red;
    text-decoration: none;
}

.paginationLink:hover, .paginationLink:active{
    color: blue;
    text-decoration: underline;
}

#paginationLinks{
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
}

.searchPaginationInput{
    float: left;
    margin: 2px;
}

.errorMessageDiv{
    display: block;
    margin: 0 auto;
    width: 30%;
    background-color: yellow;
    border-radius: 10px;
}

.errorMessage{
    font-size: 18px;
}

.userTile{
    border: solid grey 2px;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
}

.rowSpacer{
    margin-left: 20px;
}

#resultsDiv{
    background-color: rgb(255, 255, 255);
    display: block;
    position: fixed;
    /* set z-index to 1 lower than bootstrap value, but higher than OSM map layer*/
    z-index: 1049;
    max-height: 375px;
}

.personResult{
    display: inline-block;
}

#spacerDiv{
    width: 40%;
}

.resultList{
    border: 1px solid grey;
    margin: 2px;
    padding: 2px;
}

#searchFiltersDiv{
    width: 25%;
    display: block;
    float: left;
    overflow-y: scroll;
    max-height: 60vh;
}

.searchResultsTable{
    display: block;
    width: 75%;
    float: left;
}

.searchFilterTitle{
    margin-bottom: 5px;
}

@media only screen and (max-width: 330px) {
    .usersTable{
        margin: 10px 10px auto;
        height: 50vh;
    }
}

@media only screen and (max-width: 380px) {
    .usersTable{
        margin: 10px 10px auto;
        height: 85vh;
    }
}

@media only screen and (max-width: 420px) {
    .usersTable{
        margin: 10px 10px auto;
        height: 70vh;
    }
}

@media only screen and (max-width: 780px) {
    .usersTable{
        margin: 10px 10px auto;
        height: 90vh;
    }
}

@media only screen and (max-width: 1025px) {
    .usersTable{
        margin: 10px 10px auto;
    }
}